body {
    font-family: 'Nanum Gothic';
    font-style: normal;
}
header {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(44, 36, 89); 
}
a {
    text-decoration: none;
}
nav {
    margin-left: 100px;
}
.menu {
    display: inline-block;
}
.menu h1 {
    font-size: 20px;
    font-weight: 700;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(63, 44, 175);
}
.menu li {
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid rgb(44, 36, 89);
    border-radius: 5px;
    color: rgb(63, 44, 175);
}
.baner {
    width: 100%;
    height: 900px;
    background-size: cover;
    background-image: url(./background-baner-1.jpg);
    margin-top: 10px;
    margin-bottom: 10px;
}
.baner p {
    padding-top: 250px;
    text-align: center;
    margin: 0px 600px 0px 600px;
    font-size: 50px;
    color: white
}
.article-1 {
    margin: 10px 200px;
    padding: 10px 20px;
    border: 1px solid rgb(203, 203, 209);
    border-radius: 5px;
}
.article-1 h2 {
    padding: 10px 0px;
    font-size: 16px;
    font-weight: bold;
}
.article-1 p {
    padding: 5px 0px;
}
/* .article-2 {
    margin: 10px 200px;
    padding: 10px 20px;
    border: 1px solid rgb(203, 203, 209);
    border-radius: 5px;
}
.article-2 h2 {
    padding: 10px 0px;
    font-size: 16px;
    font-weight: bold;
}
.article-2 p {
    padding: 5px 0px;
} */
.article-inner {
    border: 1px solid transparent;
}
footer {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid rgb(44, 46, 89);
    padding-bottom: 10px;
    background-color:rgb(223, 223, 240);
}